* { padding: 0; margin: 0; }
body, html
{ 
	height: 100%;
}
.caption
{
    position: absolute;
    left: 0;
	top: 25%;
    width: 100%;
	font-family: europa;
    text-align: center;
    color: #ffffff}

.caption2
{
    position: relative;
    left: 0;
	top: 50%;
    width: 100%;
	font-family: europa;
    text-align: center;
    color: #ffffff}

.caption span.border, .caption2 span.border2 {
    background-color: #A6A6A6;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.achtergrond, .achtergrond2, .achtergrond3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.65;
}

.achtergrond
{ 
	background-image: url("../Afbeeldingen/PSX_20181011_155258.jpg");
  	min-height: 50%; 

  }
.achtergrond2
{
	background-image: url("../Afbeeldingen/DSC_0032.JPG");
	min-height: 20%;
}

.achtergrond3
{
	background-image:url("../Afbeeldingen/DSC_0012.JPG");
	min-height: 20%;
}

a 
{ 
	text-decoration: none; 
	color: #00A5CC; }

li 
{ 
	list-style-type: none; 
}

nav
{
	width: 100%;
	text-align: center;
	position: fixed;
}

nav a
{
	display: block;
	padding: 2% 0;
	color: #ffffff;
}

nav a:hover 
{
	background: #0d0000;
	opacity: 0.5;
}

h1
{
	color: white;
	margin: 20% 0 4% 0;
}

/*-----------------------------------------*/

.menu
{
	width: 25%;
	height: 50%;
	position: absolute;
	background-image: url("../Afbeeldingen/menu_achtergrond2.png");
	background-size: cover;
	left: -25%;
	font-family: europa;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.menu-icon
{
	padding: 1% 1.5%;
	color: black;
	cursor: pointer;
	float: right;
	margin: 0.5% 0.5% 0 0;
}

#menuToggle
{
	display: none;
}

#menuToggle:checked~.menu
{
	position: absolute;
	left:0;
}

/*-----------------------------------------*/

.dropbtn 
{
    background-color: transparent;
    color: #f8fcfc;
    padding: 2% 0;
	width: 100%;
    font-size: 12pt;
    border: none;
	font-family: europa;
}

.dropdown {
    position: relative;
    display: inline-block;
	width: 100%;
}

.dropdown-content 
{
    display: none;
    background-color: transparent;
    width: 100%;
    box-shadow: 0 2% 4% 0 rgba(0,0,0,0.2);
    z-index: 1;
	font-family: europa;
}


.dropdown-content a 
{
    color: #ffffff;
    padding: 1.5% 0;
    text-decoration: none;
	font-size: 10pt;
    display: block;
}

.dropdown-content a:hover {background-color: #0d0000; opacity: 0.5;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

/*-----------------------------------------*/

.about
{
	width: 90%;
	align-content: center;
	padding-top: 3%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	background-color: white;
	background-image: url("../Afbeeldingen/profielfoto1.png"), url("image url");
	background-size: 25% 100%;
	background-repeat: no-repeat, no-repeat;
}
	

p
{
	font-family: europa;
	color: black;
	text-align:left;
	margin-top: 1%;
	margin-left: 20%;
	width: 75%;
	z-index: 10;
}

header 
{ 
	width: 100%; 
	height: 50px; 
	margin: auto;
	border-bottom: 1px solid #EEE;
}
p.skills 
{
	text-align: center;
}
