* { padding: 0; margin: 0; }
body 
{ 
	font-family: sans-serif;
	background-color: #0d0000;
}

a 
{ 
	text-decoration: none; 
	color: #00A5CC; }

li 
{ 
	list-style-type: none; 
}

nav
{
	width: 100%;
	text-align: center;
}

nav a
{
	display: block;
	padding: 2% 0;
	color: #ffffff;
}

nav a:hover 
{
	background: #0d0000;
	opacity: 0.5;
}

h1
{
	color: white;
	margin: 20% 0 4% 0;
}

/*-----------------------------------------*/

.menu
{
	width: 25%;
	height: 100%;
	position: absolute;
	background-image: url("../Afbeeldingen/menu_achtergrond.png");
	background-size: cover;
	left: -25%;
	font-family: europa;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.menu-icon
{
	padding: 1% 1.5%;
	color: white;
	cursor: pointer;
	float: right;
	margin: 0.5% 0.5% 0 0;
}

#menuToggle
{
	display: none;
}

#menuToggle:checked~.menu
{
	position: absolute;
	left:0;
}

/*-----------------------------------------*/

.dropbtn 
{
    background-color: transparent;
    color: #f8fcfc;
    padding: 2% 0;
	width: 100%;
    font-size: 12pt;
    border: none;
	font-family: europa;
}

.dropdown {
    position: relative;
    display: inline-block;
	width: 100%;
}

.dropdown-content 
{
    display: none;
    background-color: transparent;
    width: 100%;
    box-shadow: 0 2% 4% 0 rgba(0,0,0,0.2);
    z-index: 1;
	font-family: europa;
}


.dropdown-content a 
{
    color: #ffffff;
    padding: 1.5% 0;
    text-decoration: none;
	font-size: 10pt;
    display: block;
}

.dropdown-content a:hover {background-color: #0d0000; opacity: 0.5;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}